@mixin clear {
    margin: 0;
    padding: 0;
    border: none;

}

@mixin clear-list {
    @include clear;
    list-style: none;
}

@mixin text-btn ($size) {
    color: #fff;
    text-transform: uppercase;
    font-size: $size;
    font-weight: 700;
}



 