.menu {   
    display: flex;
    flex: 1;
    flex-direction: column;    
    
    &__hat {
        display: flex;
        width: 100%;
    }
    
    &__burger {
        position: relative;
        flex: 1;
        background-color: #db7200;
        
        object {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
        }
    }
    
    &__header {        
        background-image: linear-gradient(to right, #ff8500, #ffae00);
        flex: 4;
        margin-right: 1.25rem;
        
        p {
            font-size: 1.25rem;
            font-weight: 700;
            color: #fff;
            padding: 1rem;
        }
    }

    &__list-select {
        display: none;
    }
    
    &__list {
        @include clear-list;
        margin-right: 1.25rem;        
    }
    
    &__item {        
        border: 1px solid #f1f1f1;
        padding: 1.2rem 2.3rem;        
    
        &:hover {
            background-color: #f1f1f1;
    
            i {
                color: #808390;                
            }
        }        
    }
    
    &__link {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #3b3b3b;        
    
        i {
            color: #c0c4d8;            
        }
    }
}
