.search {
    display: flex;
    justify-content: end;
    width: 100%;
    
    &__form {
        display: flex;
        width: 100%;        
    }
    
    &__input {
        flex-grow: 5;        
        background-color: #f5f5f5;
        padding: 1.2rem 2rem;
        border-right: 1px solid #dadada;
    }
    
    &__select {          
        flex-grow: 0;
        padding-left: 1.2rem;
        padding-right: 2.7rem; 
        background: url(../img/arrow.svg) no-repeat right #f5f5f5;
        background-position-x: 7.5rem;
    }    
    
    &__btn {
        @include text-btn (1rem);
        flex-grow: 1; 
        background-color: #ff8900;        
    }
}
