footer {
    background-color: #696969;
    margin-top: calc(60rem / 16);
}

.footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;    
    width: 100%;     
    
    &__block1, &__block2, &__block3, &__block4 {
        padding: 2rem 1rem;
    }

    &__block1 {
        width: calc(50% - 7rem);
        padding-right: 6rem; 
    }


    & .block1__header, & .block2__header,
    & .block3__header, & .block4__header {        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        border-bottom: 1px solid #7a7a7a;        
    }     

    & .block1__title, & .block2__title,
    & .block3__title,& .block4__title {
        position: relative;
        margin-bottom: calc(10rem / 16);
        font-size: calc(20rem / 16);
        font-weight: 400;
        color: #cbcbcb;
        
        span {
            position: absolute;
            bottom: calc(-11rem / 16);
            display: block;
            height: 1px;
            width: 100%;
            background-color: #ff8500;
        }
    }    

    & .block1__text1 {
        margin-top: calc(30rem / 16);
        letter-spacing: -0.8px;
        @include adaptiv-font(20, 14);
        font-weight: 700;
        text-transform: uppercase;
        color: #cbcbcb;
        text-align: center;
    }
    
    & .block1__text2 {
        margin-top: calc(5rem / 16);
        letter-spacing: -1.2px;
        @include adaptiv-font(26, 18);  
	    text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    &__form {
        display: flex;
        width: 100%;
        margin-top: calc(11rem / 16);

        @media screen and (max-width: 575px) {
           flex-direction: column;
           align-items: center;                   
        }
    }

    &__form-email {
        width: 68%;
        font-size: calc(14rem / 16);
        padding: 1rem 2rem;

        @media screen and (max-width: 575px) {
            width: 100%;
            padding: 1rem 0;
            text-align: center;                        
        }

        &::placeholder {
            font-size: calc(14rem / 16);
	        color: #9c9c9c;
        }
    }

    &__form-btn {
        width: 32%;
        background-color: #ff8900;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;        
    }

    &__block2, &__block3, &__block4 {
        width: calc((50% / 3) - 2rem);         
    }  

    & .block2__list,
    & .block3__list,
    & .block4__list {
        @include clear-list;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: calc(29rem / 16);
    }

    & .block2__item,
    & .block3__item,
    & .block4__item {
        padding-bottom: calc(18rem / 16);       
    }

    & .block2__link,
    & .block3__link,
    & .block4__link {
        font-size: calc(13rem / 16);
	    text-decoration: underline;
        color: #fff;

         &:hover {            
                text-decoration: none;
            }        
    }

    &__line {
        @include clear;
        display: block;        
        margin-bottom: calc(27rem / 16);
        width: 100%;
        height: 1px;
        background-color: #dbdbdb;
        
        @media screen and (max-width: 768px) {            
            margin: 0.625rem 0;
        }
    }

    &__block5 {
        display: flex;
        justify-content: start;
        margin-bottom: calc(6rem / 16);
        width: 100%;

        @media screen and (max-width: 768px) { 
            align-items: center;       
        }

        @media screen and (max-width: 575px) {            
            flex-direction: column;                  
        }
    }

    &__logo {
        color: #9197a3;
        letter-spacing: calc(20rem / 16);        
        @include adaptiv-font(50, 40);        
        font-style: italic;
        text-transform: uppercase; 
    }

    &__copyright {
        font-size: calc(12rem / 16);
        color: #a0a9b2;
        font-style: normal;
        padding: 0 1rem;
        margin-left: 1.5rem;
        border-left: 1px solid #787878;

        @media screen and (max-width: 768px) {  
            padding: 0;
            margin: 0; 
            border-left: none;    
        }

        @media screen and (max-width: 575px) {
            margin: 1rem 0;                
        }
    }

    &__social {
        display: flex;
        margin-left: calc(217rem / 16);

        @media screen and (max-width: 768px) {            
            margin: 0;
            margin-right: 1rem;   
        }

        @media screen and (max-width: 575px) {  
            margin-bottom: calc(10rem / 16);    
        }
    }

    & .social__frame {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(49rem / 16);
        height: calc(49rem / 16);
        border: 1px solid #7b8092;
        margin-right: 8px;
        text-align: center;
        
        &:hover {
            border: 1px solid #ffc925;
            
            .social__link {
                color: #ffc925;
            }
        }         
    }

    & .social__link {
        @include clear;
        color: #fff;
    }

    &__dev {
        display: flex;
        margin-left: calc(226rem / 16);

        @media screen and (max-width: 768px) {            
            margin: 0;
        }

        @media screen and (max-width: 575px) {            
            margin: 10px 0;
        }
    }

    & .dev__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-left: 1px solid #787878;
        margin-left: calc(20rem / 16);
        padding-left: 1rem;

        @media screen and (max-width: 768px) {            
            margin-left: 9px;
            padding-left: 12px;
        }

        small {
            font-size: calc(12rem / 16);
	        color: #a0a9b2;
        }

        p {
            font-size: calc(14rem / 16);
            color: #fff; 
        }
    }
   
}