.middle {    
    padding-top: 1.875rem;        
    height: 3.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        position: relative;
        font-size: 2.25rem;
        color: #3b3b3b;
        font-weight: 500;
        height: 100%;
        letter-spacing: 1px;
    }

    &__border {
        position: absolute;
        bottom: -1px;
        display: block;
        height: 1px;
        width: 100%;
        background-color: #ff8500;        
    }

    &__link {
        @include clear;
        font-size: 0.875rem;
        text-decoration: underline;
        color: #000;

        &:hover {
            text-decoration: none; 
        }

        i {
            color: #ff8500;
            margin-left: 0.875rem;           
        }
    }
}