.popup3 {
    position: fixed;
    width: 500px;
	height: 100px;
    background-color: #fff;
    z-index: 15;
    top: 25%;
    left: 35%;    
    display: none;
    text-align: center;    

    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #3b3b3b;
        margin-top: 35px;
    }

    &__close {
        position: absolute;
        right: 9px;
        top: 2px;
        width: 25px;
        height: 25px;
        opacity: 1;
        cursor: pointer;        

        &:hover {
        opacity: 0.8;
        }

        &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 25px;
        width: 2px;
        background-color: #333;
        }

        &:before {
        transform: rotate(45deg);
        }

        &:after {
        transform: rotate(-45deg);
        } 
    }   
}