.popup2 {
    display: none;
    position: fixed;
    top: 150px;
    left: 45%;
    z-index: 10;
    width: 300px;	
    background-color: #fff;
    padding: 2rem 3rem 2rem 2rem;    
    flex-direction: column;     
    
    &__title {
        font-size: calc(24rem / 16);
        font-weight: 700;
        color: #3b3b3b;
        letter-spacing: -0.5px;
        padding-bottom: 1.9rem;
        }

    &__text {
        font-size: calc(14rem / 16);
        color: #3b3b3b;
        padding-bottom: 0.8rem;        
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input {
        width: calc(100% - 2rem);        
        background-color: #fff;
        font-size: 1rem;
        color: #000;
        border: 1px solid #d2d2d2;
        padding: 0.7rem 1rem;
        margin-bottom: 2rem;

        &:focus {
            border: 1px solid #d2d2d2; 
        }

        &::placeholder {
            font-size: 16px;
	        color: #9c9c9c;
        }
    }

    &__btn {
        padding: 1rem 2.8rem;
        background-color: #ff8900;
        font-size: calc(14rem / 16);
        color: #fff;
        text-align: center;
        cursor: pointer;        
    }

    &__close {
        position: absolute;
        right: -46px;
        top: -50px;
        width: 32px;
        height: 32px;
        opacity: 1;
        cursor: pointer;        

        &:hover {
        opacity: 0.8;
        }

        &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #fff;
        }

        &:before {
        transform: rotate(45deg);
        }

        &:after {
        transform: rotate(-45deg);
        } 
    }   
}