.popup1 {
    position: fixed;
    width: 755px;	
    background-color: #fff;
    z-index: 15;
    top: 20vh;
    left: 30%;        
    display: none;

    &__enter {
        position: relative;        
        display: flex;
        flex-direction: column;        
        align-items: center;
        justify-content: center;
        width: 100%;        
        width: calc(50% - 4.7rem);
        padding: 2.3rem 2rem 2rem 2.7rem;

        &::after {
            position: absolute;
            display: block;
            content: '';
            top: 10%;
            right: -2%;
            height: 80%;
            width: 1px;
            background-color: #dbdbdb;
        }
    }    

    &__enter-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%; 

        p, label {
            font-size: calc(14rem / 16);
            color: #3b3b3b;
            font-weight: 700;
            margin-bottom: calc(11rem / 16);
        }        
    }

    &__enter-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #3b3b3b; 
        margin-bottom: calc(25rem / 16);
        letter-spacing: -1px;
    } 

    &__enter-email, &__enter-password {
        width: 93%;        
        padding: 0.7rem 0 0.7rem 1rem;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        margin-bottom: calc(18rem / 16);       

        &:active, &:focus {
            border: 1px solid #d2d2d2 !important; 
        }

        &:placeholder {
            font-size: calc(14rem / 16);
            color: #9c9c9c;
        }
    }
    
    &__enter-password {
        margin-bottom: calc(28rem / 16);
    }

    &__enter-remember {
        margin-bottom: calc(27rem / 16);
        margin-right: calc(10rem / 16);
    }    

    &__enter-link {
        font-size: calc(14rem / 16);
        text-decoration: underline;
        color: #3d3d3d;        
        margin-right: calc(18rem / 16);

        &:hover {
            text-decoration: none;
        }
    }
    

    &__enter-btn {
        margin-top: calc(26rem / 16);
        padding: 1rem 1.5rem;
        background-color: #afb9c6;
        font-size: calc(14rem / 16);
        color: #fff;

        &:hover {
            background-color: #b9bdc3; 
        }
    }

    &__enter-social {
        position: relative;
        display: flex;
        flex-direction: column;        
        width: calc(50% - 4.7rem);
        padding: 2.3rem 2rem 2rem 2.7rem;                
    }

    &__enter-social-title {
        font-size: calc(24rem / 16);
        font-weight: 700;
        color: #3b3b3b;
        margin-bottom: calc(45rem / 16);        
    }

    &__enter-facebook {
        background-color: #3b5998;        
    }

    &__enter-twitter {
        background-color: #41abe1;
    }

    &__enter-google {
        background-color: #ea4335;
    }

    &__enter-facebook,
    &__enter-twitter,
    &__enter-google { 
        padding: 1rem 1.5rem;
        font-size: calc(14rem / 16);
        color: #fff;
        margin-bottom: calc(25rem / 16);
        
        i {
            margin-right: 15px;
        }
    }

    &__enter-close {
        position: absolute;
        right: -46px;
        top: -40px;
        width: 32px;
        height: 32px;
        opacity: 1;
        cursor: pointer;        

        &:hover {
        opacity: 0.8;
        }

        &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #fff;
        }

        &:before {
        transform: rotate(45deg);
        }

        &:after {
        transform: rotate(-45deg);
        } 
    }   
}