.popup2 {
    display: none;
    position: fixed;
    top: 150px;
    left: 45%;
    z-index: 10;
    width: 378px;
	height: 283px;
    background-color: #fff;    
    
    &__title {
        font-size: 24px;
        font-weight: 700;
        color: #3b3b3b;
        margin-top: 30px;
        margin-left: 35px;
        letter-spacing: -0.5px;
        }

    &__text {
        font-size: 14px;
        color: #3b3b3b;
        margin-top: 30px;
        margin-left: 36px;
    }

    &__input {
        width: 284px;
        height: 40px;
        background-color: #fff;
        font-size: 16px;
        color: #000;
        border: 1px solid #d2d2d2;
        margin-top: 12px;
        padding-left: 14px;
        margin-left: 36px;

        &::placeholder {
            font-size: 16px;
	        color: #9c9c9c;
        }
    }

    &__btn {
        width: 210px;
        height: 50px;
        background-color: #ff8900;
        font-size: 14px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        margin-top: 29px;
        margin-left: 88px;
    }

    &__close {
        position: absolute;
        right: -46px;
        top: -50px;
        width: 32px;
        height: 32px;
        opacity: 1;
        cursor: pointer;        

        &:hover {
        opacity: 0.8;
        }

        &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #fff;
        }

        &:before {
        transform: rotate(45deg);
        }

        &:after {
        transform: rotate(-45deg);
        } 
    }   
}