.product {
    display: flex;
    justify-content: space-between;           

    &__block {
        padding: 1rem 0.5rem 1rem 1rem;
        width: 25%;
        border: 1px solid #dbdbdb;
        border-right: none;        

        &:last-child {
            border-right: 1px solid #dbdbdb;
        }
    }

    &__mark {
        @include clear;                
        padding: 0.2rem 1.5rem;
        background-color: #f2f2f2;
        font-size: 0.875rem;
        color: #848484;
        
        &:hover {
            background-color: #a5a5a5;
            color: #fdf7f7;  
        }
    }

    &__title {
        margin-top: 1rem;   
        font-size: 1rem;
	    text-decoration: underline;
        color: #3b3b3b;        
        line-height: 1.625rem;
        font-weight: 400;
        cursor: pointer;
        height: 4rem;
        
        &:hover {
            text-decoration: none;
        }
    }

    &__subtitle {
        display: flex;
        align-items: flex-end;      
    }

    &__rating {
        direction: rtl;
        text-align: left;

        & label {
            color: #a4a4a4;
            font-size: 0.8rem;
            margin-right: 1px;
        }
        
        & input:checked+label {
            color: #ff8600;
        }
        
        & input:checked+label~label {
            color: #ff8600;
        }
        
        & input+label:hover {
            color: #ff8600 !important;
        }
        
        & input+label:hover~label {
            color: #ff8600;
            ;
        }
        
        [type="radio"] {
            display: none;
        }
    }

    &__review {
        font-size: 0.8rem;
	    text-decoration: underline;
        color: #9b9b9b;
        margin-left: 0.7rem;        
    }

    &__stock {
        font-size: 0.75rem;
        color: #757575;
        margin-left: 2rem;
    }
    

    &__content {
        display: flex;
        width: 100%;
        margin-top: 1.5rem;        
    }

    &__pictogram {
        display: flex;
        flex-direction: column;
        align-items: center;                
        margin-right: 2rem;

        span {
            margin-bottom: 1.2rem;
            text-align: center; 
        }
        span:last-child {
            margin-bottom: 0;             
        }        
    }

    &__pictogram-text {
        font-size: calc(10rem / 16);
	    text-transform: uppercase;
        color: #91959a;
        margin-top: 4px;
    }

    &__picture {        
        height: 12.5rem;
        margin-bottom: 2px;       
    }

    &__ad {
        display: flex;
        justify-content: center;
    }

    &__ad-icon {
        display: flex;
        position: relative;
        margin-left: -0.75rem;

        span {
            position: absolute;
            width: 100%;
            top: 29%;
            left: 0;
            text-align: center;
        };
    }

    &__ad-text {        
        font-size: calc(10rem / 16);
	    font-weight: bold;
	    text-transform: uppercase;
	    color: #fff;
    }

    &__price {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__price-new, &__price-uah {        
        font-style: italic;
        font-size: calc(30rem / 16);
        text-transform: uppercase;
        font-weight: 700;
        color: #3b3b3b;
        margin-left: calc(9rem / 16); 
    }    
    
    &__price-uah {
        padding-bottom: 2px;
    }
    
    &__price-new {
        display: flex;
        align-items: flex-end;
    }

    &__price-uah {
        font-size: calc(18rem / 16);        
    }

    &__price-old {
        font-size: 1rem;
        font-style: italic;
        font-weight: 700; 
        margin-right: 1rem;       
	    text-transform: uppercase;
        color: #989898;
        text-decoration-line: line-through;
        text-decoration-style: solid;
        text-decoration-color: #e00000;
        padding-bottom: 2px;
    }

    &__btn {
        @include clear;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: -webkit-linear-gradient(left, #ff8500, #ffae00);
	    background-image: -moz-linear-gradient(left, #ff8500, #ffae00);
	    background-image: -o-linear-gradient(left, #ff8500, #ffae00);
	    background-image: -ms-linear-gradient(left, #ff8500, #ffae00);
	    background-image: linear-gradient(to right, #ff8500, #ffae00);
	    padding: 0.8rem 1.8rem;
        font-size: calc(14rem / 16);
	    font-weight: bold;
	    text-transform: uppercase;
        color: #fff;
        margin: 1.2rem auto 0.8rem;

        object {
            margin-right: 1rem;
        }
        
        &:hover {
            background-image: -webkit-linear-gradient(left, #d36e00, #e59100);
	        background-image: -moz-linear-gradient(left, #d36e00, #e59100);
	        background-image: -o-linear-gradient(left, #d36e00, #e59100);
	        background-image: -ms-linear-gradient(left, #d36e00, #e59100);
	        background-image: linear-gradient(to right, #d36e00, #e59100);
        }
    }

    &__trade {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    &__trade-compare, &__trade-wish {
        display: flex;
        align-items: center;        
        @include clear;
        background-color: #fff;        

        &:hover {
            .product__trade-wish-link,
            .product__trade-compare-link {
                text-decoration: none;
            }

        }
    }

    &__trade-wish-link, &__trade-compare-link {
        margin-left: calc(10rem / 16);
        font-size: calc(14rem / 16);
        text-decoration: underline;
        color: #3b3b3b;
        cursor: pointer;        
    }

    


}