.block__menu.menu
  .menu__hat
    .menu__burger
      object(type='image/svg+xml' data='./img/burger.svg')
    .menu__header
      p Меню
  ul.menu__list
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 1
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 2
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 3
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 4
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 5
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 6
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 7
        i.fas.fa-chevron-right