.block__search.search
  form.search__form(action='#')
    input#name.search__input(type='text' name='search' placeholder='Поиск по сайту' minlength='2')
    select.search__select(name='select')
      option(value='Все категории' selected='') Все категории
      option(value='Ссылка 1') Ссылка 1
      option(value='Ссылка 2') Ссылка 2
      option(value='Ссылка 2') Ссылка 3
    button.search__btn(type='submit') Поиск