.block__menu.menu
  .menu__hat
    .menu__burger
      object(type='image/svg+xml' data='./img/burger.svg')
    .menu__header
      p Меню
  .menu__list-select
    select#select-1(name='select')
      option(value='Ссылка 1' selected='') Ссылка 1
      option(value='Ссылка 2') Ссылка 2
      option(value='Ссылка 3') Ссылка 3
      option(value='Ссылка 4') Ссылка 4
      option(value='Ссылка 5') Ссылка 5
      option(value='Ссылка 6') Ссылка 6
      option(value='Ссылка 7') Ссылка 7
    i.fas.fa-sort-down
  ul.menu__list
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 1
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 2
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 3
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 4
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 5
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 6
        i.fas.fa-chevron-right
    li.menu__item
      a.menu__link(href='#')
        | Ссылка 7
        i.fas.fa-chevron-right