footer
  .footer.view-port    
    .popup3
      h2 Вы успешно подписаны на рассылку!
      span.popup3__close
    .footer__block1
      .block1__header
        h3.block1__title
         | Блок 1
         span
      h3.block1__text1 Будьте в курсе новостей и новинок!         
      h2.block1__text2 Подписывайтесь на рассылку       
      form.footer__form(action='')
        input.footer__form-email(type='email' placeholder='Укажите свой email для подписки')
        button.footer__form-btn(type='button') Подписаться         
    .footer__block2
      .block2__header
        h3.block2__title
         | Блок ссылок 1
         span
      ul.block2__list
        li.block2__item
          a.block2__link(href='#') Ссылка 1
        li.block2__item
          a.block2__link(href='#') Ссылка 2
        li.block2__item
          a.block2__link(href='#') Ссылка 3
        li.block2__item
          a.block2__link(href='#') Ссылка 4
    .footer__block3
      .block3__header
        h3.block3__title
          | Блок 2
          span
      ul.block3__list
        li.block3__item
          a.block3__link(href='#') Ссылка 1
        li.block3__item
          a.block3__link(href='#') Ссылка 2
        li.block3__item
          a.block3__link(href='#') Ссылка 3
        li.block3__item
          a.block3__link(href='#') Ссылка 4
    .footer__block4
      .block4__header
        h3.block4__title
          | Блок ссылок 3
          span
      ul.block4__list
        li.block4__item
          a.block4__link(href='#') Ссылка 1
        li.block4__item
          a.block4__link(href='#') Ссылка 2
        li.block4__item
          a.block4__link(href='#') Ссылка 3
        li.block4__item
          a.block4__link(href='#') Ссылка 4
    hr.footer__line
    .footer__block5
      h1.footer__logo Test
      address.footer__copyright © Copyrith 2017. Тестовое задание Wezom             
      .footer__social
        .social__frame
          a.social__link(href='https://vk.com' target='_blank')
            i.fab.fa-vk
        .social__frame
          a.social__link(href='https://facebook.com' target='_blank')
            i.fab.fa-facebook-f
        .social__frame
          a.social__link(href='https://twitter.com' target='_blank')
            i.fab.fa-twitter
        .social__frame
          a.social__link(href='https://youtube.com' target='_blank')
            i.fab.fa-youtube
      .footer__dev
        object.dev__logo(type='image/svg+xml' data='./img/wezom_logo.svg')
        .dev__text
          small Разработка тестового
          p Wezom Agency
