.product.view-port
  .product__block
    button.product__mark Mark
    h3.product__title
      a(href="#")
        | Антифриз Fosser Antifreeze 
        br
        | FA 12 Readymix 1 л Concentrat, Germany
    .product__subtitle
      .product__rating
        input#r1_5(type='radio' name='rate1' checked)
        label(for='r1_5')
          i.fas.fa-star
        input#r1_4(type='radio' name='rate1')
        label(for='r1_4')
          i.fas.fa-star
        input#r1_3(type='radio' name='rate1')
        label(for='r1_3')
          i.fas.fa-star
        input#r1_2(type='radio' name='rate1')
        label(for='r1_2')
          i.fas.fa-star
        input#r1_1(type='radio' name='rate1')
        label(for='r1_1')
          i.fas.fa-star
      a.product__review(href='#') Отзывы (10)
      p.product__stock В наличии: 24 шт.
    .product__content
      .product__pictogram
        span
          object(type='image/svg+xml' data='./img/sun.svg')
          p.product__pictogram-text Летняя
        span
          object(type='image/svg+xml' data='./img/car.svg')
          p.product__pictogram-text Легковая
        span
          object(type='image/svg+xml' data='./img/label.svg')
          p.product__pictogram-text Новая
      img.product__picture(src='./img/product_photo-1.png' alt='')
    .product__ad
      .product__ad-icon
        img.product__ad-picture(src='./img/ad-icon1.png' alt='')
        span
          p.product__ad-text Новинка
      .product__ad-icon
        img.product__ad-picture(src='./img/ad-icon2.png' alt='')
        span
          p.product__ad-text Хит
      .product__ad-icon
        img.product__ad-picture(src='./img/ad-icon3.png' alt='')
        span
          p.product__ad-text Скидка
    .product__price
      h2.product__price-new
        | 599
        span.product__price-uah грн.
      p.product__price-old 1250 грн.
    button.product__btn
      object(type='image/svg+xml' data='./img/cart.svg')
      | Купить товар
    .product__trade
      .product__trade-compare
        object(type='image/svg+xml' data='./img/trade-compare.svg')
        p.product__trade-compare-link.btn-compare
          | Сравнить товар
      .product__trade-wish
        object(type='image/svg+xml' data='./img/trade-wish.svg')
        p.product__trade-wish-link.btn-wish
          | В избранное
  .product__block
    button.product__mark Mark
    h3.product__title
      | Антифриз Fosser Antifreeze 
      br
      | FA 12 Readymix 1 л Concentrat, Germany
    .product__subtitle
      .product__rating
        input#r2_5(type='radio' name='rate2')
        label(for='r2_5')
          i.fas.fa-star
        input#r2_4(type='radio' name='rate2')
        label(for='r2_4')
          i.fas.fa-star
        input#r2_3(type='radio' name='rate2' checked)
        label(for='r2_3')
          i.fas.fa-star
        input#r2_2(type='radio' name='rate2')
        label(for='r2_2')
          i.fas.fa-star
        input#r2_1(type='radio' name='rate2')
        label(for='r2_1')
          i.fas.fa-star
      a.product__review(href='#') Отзывы (10)
      p.product__stock В наличии: 24 шт.
    .product__content
      .product__pictogram
        span
          object(type='image/svg+xml' data='./img/sun.svg')
          p.product__pictogram-text Летняя
        span
          object(type='image/svg+xml' data='./img/label.svg')
          p.product__pictogram-text Новая
      img.product__picture(src='./img/product_photo-2.png' alt='')
    .product__ad
      .product__ad-icon
        img.product__ad-picture(src='./img/ad-icon1.png' alt='')
        span
          p.product__ad-text Новинка
      .product__ad-icon
        img.product__ad-picture(src='./img/ad-icon2.png' alt='')
        span
          p.product__ad-text Хит
    .product__price
      h2.product__price-new
        | 599
        p.product__price-uah грн.
      p.product__price-old 1250 грн.
    button.product__btn
      object(type='image/svg+xml' data='./img/cart.svg')
      | Купить товар
    .product__trade
      .product__trade-compare
        object(type='image/svg+xml' data='./img/trade-compare.svg')
        p.product__trade-compare-link.btn-compare
          | Сравнить товар
      .product__trade-wish
        object(type='image/svg+xml' data='./img/trade-wish.svg')
        p.product__trade-wish-link.btn-wish
          | В избранное
  .product__block
    button.product__mark Mark
    h3.product__title
      | Антифриз Fosser Antifreeze 
      br
      | FA 12 Readymix 1 л Concentrat, Germany
    .product__subtitle
      .product__rating
        input#r3_5(type='radio' name='rate3')
        label(for='r3_5')
          i.fas.fa-star
        input#r3_4(type='radio' name='rate3')
        label(for='r3_4')
          i.fas.fa-star
        input#r3_3(type='radio' name='rate3')
        label(for='r3_3')
          i.fas.fa-star
        input#r3_2(type='radio' name='rate3')
        label(for='r3_2')
          i.fas.fa-star
        input#r3_1(type='radio' name='rate3')
        label(for='r3_1')
          i.fas.fa-star
      a.product__review(href='#') Без отзывов
      p.product__stock В наличии: 24 шт.
    .product__content
      .product__pictogram
        span
          object(type='image/svg+xml' data='./img/sun.svg')
          p.product__pictogram-text Летняя
        span
          object(type='image/svg+xml' data='./img/car.svg')
          p.product__pictogram-text Легковая
        span
          object(type='image/svg+xml' data='./img/label.svg')
          p.product__pictogram-text Новая
      img.product__picture(src='./img/product_photo-3.png' alt='')
    .product__ad
      .product__ad-icon
        img.product__ad-picture(src='./img/ad-icon1.png' alt='')
        span
          p.product__ad-text Новинка
    .product__price
      h2.product__price-new
        | 599
        p.product__price-uah грн.
      p.product__price-old 11 250 грн.
    button.product__btn
      object(type='image/svg+xml' data='./img/cart.svg')
      | Купить товар
    .product__trade
      .product__trade-compare
        object(type='image/svg+xml' data='./img/trade-compare.svg')
        p.product__trade-compare-link.btn-compare
          | Сравнить товар
      .product__trade-wish
        object(type='image/svg+xml' data='./img/trade-wish.svg')
        p.product__trade-wish-link.btn-wish
          | В избранное
  .product__block
    button.product__mark Mark
    h3.product__title
      | Антифриз Fosser Antifreeze 
      br
      br
    .product__subtitle
      .product__rating
        input#r4_5(type='radio' name='rate' checked)
        label(for='r4_5')
          i.fas.fa-star
        input#r4_4(type='radio' name='rate4')
        label(for='r4_4')
          i.fas.fa-star
        input#r4_3(type='radio' name='rate4')
        label(for='r4_3')
          i.fas.fa-star
        input#r4_2(type='radio' name='rate4')
        label(for='r4_2')
          i.fas.fa-star
        input#r4_1(type='radio' name='rate4')
        label(for='r4_1')
          i.fas.fa-star
      a.product__review(href='#') Отзывы (10)
      p.product__stock В наличии: 24 шт.
    .product__content
      .product__pictogram
        span
          object(type='image/svg+xml' data='./img/sun.svg')
          p.product__pictogram-text Летняя
        span
          object(type='image/svg+xml' data='./img/car.svg')
          p.product__pictogram-text Легковая
      img.product__picture(src='./img/product_photo-4.png' alt='')
    .product__ad
      .product__ad-icon(style='visibility: hidden;')
        img.product__ad-picture(src='./img/ad-icon1.png' alt='')
        span
          p.product__ad-text Новинка
    .product__price
      h2.product__price-new
        | 599
        p.product__price-uah грн.
    button.product__btn
      object(type='image/svg+xml' data='./img/cart.svg')
      | Купить товар
    .product__trade
      .product__trade-compare
        object(type='image/svg+xml' data='./img/trade-compare.svg')
        p.product__trade-compare-link.btn-compare
          | Сравнить товар
      .product__trade-wish
        object(type='image/svg+xml' data='./img/trade-wish.svg')
        p.product__trade-wish-link.btn-wish
          | В избранное
