@import "parsials/mixins";
@import "parsials/params";
@import "nav";
@import "nav-gamburger";
@import "popup-enter";
@import "popup-call";
@import "popup-mailing";
@import "header";
@import "block";
@import "filter-content";
@import "middle";
@import "product";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;700;900&display=swap');

html, body {
    @include clear;
    width: 100%;
    font-family: 'Roboto', sans-serif;    
}

h1, h2, h3, h4, h5, h6, p, input, select {
    @include clear;

    :active {
        @include clear;
    }
}

button, button:active, button:focus,
input, input:active, input:focus,
select, select:active, select:focus {
    border: none;
    outline: none;    
}

select {
    appearance:none;    
}

button, button:active, button:focus {
    cursor: pointer;
}

a {
    text-decoration: none;
}

object {
    pointer-events: none;
}

.view-port {
    max-width: 1360px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.wrapper__bg {
    background-color: #494949c7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;    
}

