@media screen and (max-width: 1199px) {
    html {
        font-size: 14px;
    }

    .nav {
        padding-left: 5px;        
    }

    .header {
        padding: 2rem 1rem;

        &__logo {
            flex: 0;                   
        }

        &__call {
            flex: 3;            
            flex-shrink: 0;        
        }
    }

    .popup2 { 
        left: 30%;
    }

    .menu__burger object {
            left: 1.2rem;
    }

    .search__select {
        background-position-x: 8.5rem;
    }

    .filter__content-select {
        margin-left: 2.5rem;
        margin-right: 0;

        &:first-child {
            margin-left: 2.5rem;
        }

        &:nth-child(5) {
            display: none;
        }
    }

    .filter__content-btn-apply {
        margin-right: 5.7rem;
    }

    .middle {
        padding: 1.3rem 1rem 0;
    }
    
    .product {
        
        &__block {
            width: calc(100% / 3);

            &:last-child {
                display: none;
            }
        }

        &__pictogram {
            margin-right: 3rem;
        }
    }

    .footer { 
        
        &__block1 {
            width: calc(50% - 5rem);
            padding-right: 4rem; 
        }

        &__form-email {           
            font-size: 1rem;
        }

        & .block2__link,
        & .block3__link,
        & .block4__link {
            font-size: 1rem;	          
        }

        &__block5 {
            padding: 0 1rem;
        }

        &__logo, &__dev {           
            width: 20%;
        }

        &__copyright, &__social {            
            width: calc(30% - 2rem);
        }
    }
}

@media screen and (max-width: 991px) {
    .header {

        &__logo {
            order: 1;
            flex: 1;
            text-align: center;                   
        }

        &__call {
            order: 3;
            margin-top: 10px;
            min-width: 100%;
            justify-content: center;                   
        }

        &__actions {
            order: 2;                   
        }
    }

    .popup2 {        
        width: calc(50% - 4rem);
        left: 20%;
    }

    .menu__burger object {
        left: 0.8rem;
    }

    .filter__nav-link {
        font-size: 0;
        
        svg {
            margin-right: 0; 
        }
    }

    .filter__content {

        &-tabs {
            margin-left: 30%; 
        }

        &-select,
        &-select:first-child, &-btns  {
            margin-left: 4.5rem;      
        }

        &-btn-apply {
            margin-right: 4.5rem;
        }
    }
    
    .product {
        
        &__block {
            width: calc(100% / 2);

            &:nth-child(3), &:last-child {
                display: none;
            }
        }

        &__pictogram {
            margin-right: 5rem;
        }
    }

    footer {
        margin-top: 0;
    }

    .footer {        

        &__block1 {
            width: 100%;
            padding-right: 1rem; 
        }

        &__block2, &__block3, &__block4 {           
            width: calc((100% / 3 - 2rem));
            padding: 1rem 1rem;       
        } 

        &__block5 {            
            align-items: center;
        }
        
        &__logo, &__copyright {           
            width: 25%;
        }

        &__social {            
            width: 30%;
        }

        &__dev {            
            width: 20%;
        }

        &__logo, &__dev, 
        &__copyright, &__social {            
            padding: 0;
            border: none;
        }

        & .dev__text {
            border: none;
        }
    }

}

@media screen and (max-width: 767px) {

    .popup2 {        
        width: calc(70% - 4rem);
        left: 10%;
    }

    .block__menu {
        display: none;
    }

    .filter {

        &__wrapper {
        display: flex;        
        }

        &__burger {
            display: flex;
            width: 15%;
            background-color: #db7200;
            justify-content: center;

            object {
                transform: scale(1.2);;
            }
        }

        &__nav {
            width: 85%;
        }
    }

    .middle__link {        
        font-size: 1.2rem;
    }

    .product__pictogram {
        margin-right: 3rem;
    }

    .footer {
        &__block5 {            
            flex-wrap: wrap;
        }
        
        &__logo, &__copyright,
        &__social,&__dev {
            justify-content: center; 
            text-align: center;          
            width: 50%;
            margin-bottom: 1rem;
        }    
    }
}

@media screen and (max-width: 575px) {

    html {
        font-size: 16px;
    }

    .nav__menu {
        display: none;        
    }

    .header {
        padding: 10px 0;

        &__call {            
            flex-direction: column;
        }

        &__phone {
            text-align: center;            
        }

        &__actions {            
            padding: 0 1rem;
            margin-top: 2rem;            
        }

        &__action {            
            padding-right: 0.5rem;            
        }
    }

    .popup2 {        
        width: calc(100% - 4rem) !important;
        left: 0 !important;

        &__close {            
            right: 20px;
            top: 10px;

            &:before, &:after {                
                background-color: #ccc;
                }
        }
    }
    

    .search__select {
        display: none;
    }

    .search__input {
        width: 80%;
        flex-grow: 0;
    }

    .search__btn {        
        width: 20%;
        flex-grow: 0;
    }

    .filter__nav-link svg {
        transform: scale(0.85);
    }

    .filter__content {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;  
        align-items: center;
        
        &-select {
            width: 100%;            
            justify-content: center;
        }
        
        &-tabs, &-select,
        &-select:first-child, &-btns  {
            margin-left: 0 !important;      
        }

        &-btns {
            flex-direction: column;
            padding: 0;            
        }

        &-btn-clear, &-btn-apply {
            margin-bottom: 1rem;
            font-size: 1rem;            
            padding: 1rem 3.5rem;
        }

        &-btn-apply {
            margin-right: 0 !important;
        }
    }

    .middle { 
        padding: 1rem 1rem 0 !important;
        height: 2rem;

        &__title {                    
            font-size: 1rem;        
        }

        &__link {        
            font-size: 0.9rem !important;
        }
    }

    .product {
        flex-wrap: wrap;
        
        &__block {
            width: 100% !important;
            border-left: none;
            border-right: none;            

            &:first-child {
                border-bottom: none;
            }
        }

        &__pictogram {
            margin-right: 15% !important;
        }

        &__title {               
            font-size: 1.1rem;
        }
        
        &__subtitle {
            justify-content: space-between;
        }

        &__review {
            font-size: 1rem;                   
        }

        &__stock {
            font-size: 0.9rem;            
        }

        &__btn {            
            padding: 0.8rem 3.5rem;
        }
    }

    .footer {

        &__form-btn {
            width: 100%;
            padding: 1rem 0;
            margin-top: 0.5rem;                   
        }

        & .block2__title, & .block3__title,
        & .block4__title {        
            font-size: 0.8rem;
        }

        & .social__frame {
            margin-right: 5px;
        }
        
        &__logo, &__social {
            width: 60% !important;            
        }

        &__copyright, &__dev {          
            width: 40% !important;
        }

        & .dev__logo, & .dev__text {
            padding: 0;
        }
    }
}