@media screen and (max-width: 1199px) {
    html {
        font-size: 14px;
    }

    .search__select {
        background-position-x: 8.5rem;
    }

    .filter__content-select {
        margin-left: 2.5rem;
        margin-right: 0;

        &:first-child {
            margin-left: 2.5rem;
        }

        &:nth-child(5) {
            display: none;
        }
    }

    .filter__content-btn-apply {
        margin-right: 5.7rem;
    }
}

@media screen and (max-width: 991px) {
    .filter__nav-link {
        font-size: 0;
        
        svg {
            margin-right: 0; 
        }
    }

    .filter__content {

        &-tabs {
            margin-left: 30%; 
        }

        &-select,
        &-select:first-child, &-btns  {
            margin-left: 4.5rem;      
        }

        &-btn-apply {
            margin-right: 4.5rem;
        }
    }   

}

@media screen and (max-width: 767px) {
    .block__menu {
        display: none;
    }

    .filter {

        &__wrapper {
        display: flex;        
        }

        &__burger {
            display: flex;
            width: 15%;
            background-color: #db7200;
            justify-content: center;

            object {
                transform: scale(1.2);;
            }
        }

        &__nav {
            width: 85%;
        }
    }
}
@media screen and (max-width: 575px) {

    html {
        font-size: 16px;
    }

    .filter__content {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem;  
        align-items: center;
        
        &-select {
            width: 100%;            
            justify-content: center;
        }
        
        &-tabs, &-select,
        &-select:first-child, &-btns  {
            margin-left: 0 !important;      
        }

        &-btns {
            flex-direction: column;
            padding: 0;            
        }

        &-btn-clear, &-btn-apply {
            margin-bottom: 1rem;
            font-size: 1rem;            
            padding: 1rem 5.5rem;
        }

        &-btn-apply {
            margin-right: 0 !important;
        }
    }
}