.popup1 {
    position: fixed;
    width: 755px;
	height: 431px;
    background-color: #fff;
    z-index: 15;
    top: 100px;
    left: 30%;    
    display: none;

    &__enter {        
        display: flex;
        flex-direction: column;        
        align-items: center;
        justify-content: center;        
        width: 50%;
    }    

    &__enter-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;                       
        height: 85%;    
        margin-left: 22px;  

        p, label {
            font-size: 14px;
            color: #3b3b3b;
            font-weight: 700;
            margin-bottom: 11px;
        }        
    }

    &__enter-title {
        font-size: 24px;
        font-weight: bold;
        color: #3b3b3b; 
        margin-bottom: 25px;
        letter-spacing: -1px;
    } 

    &__enter-email, &__enter-password {
        width: 299px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        margin-bottom: 16px;
        padding-left: 1rem;

        &:active, &:focus {
            border: 1px solid #d2d2d2 !important; 
        }

        &:placeholder {
            font-size: 14px;
            color: #9c9c9c;
        }
    }
    
    &__enter-password {
        margin-bottom: 26px;
    }

    &__enter-remember {
        margin-bottom: 26px;
    }    

    &__enter-link {
        font-size: 14px;
        text-decoration: underline;
        color: #3d3d3d;        
        margin-right: 18px;

        &:hover {
            text-decoration: none;
        }
    }
    

    &__enter-btn {
        margin-top: 26px;
        width: 210px;
        height: 50px;
        background-color: #afb9c6;
        font-size: 14px;
        color: #fff;

        &:hover {
            background-color: #b9bdc3; 
        }
    }

    &__enter-social {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        border-left: 1px solid #dbdbdb;
        margin-top: 31px;
        margin-left: 16px;
        height: 85%;
    }

    &__enter-social-title {
        font-size: 24px;
        font-weight: 700;
        color: #3b3b3b;
        margin-left: 35px;
    }

    &__enter-facebook {
        background-color: #3b5998;
        margin-top: 46px;
    }

    &__enter-twitter {
        background-color: #41abe1;
    }

    &__enter-google {
        background-color: #ea4335;
    }

    &__enter-facebook,
    &__enter-twitter,
    &__enter-google {        
        margin-left: 40px;
        margin-bottom: 23px;
        width: 293px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        
        i {
            margin-right: 15px;
        }
    }

    &__enter-close {
        position: absolute;
        right: -46px;
        top: -76px;
        width: 32px;
        height: 32px;
        opacity: 1;
        cursor: pointer;        

        &:hover {
        opacity: 0.8;
        }

        &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
        }

        &:before {
        transform: rotate(45deg);
        }

        &:after {
        transform: rotate(-45deg);
        } 
    }   
}